.main_header {
  color: #fff !important;
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between; }
  .main_header > ul {
    display: flex; }
    .main_header > ul li {
      list-style: none;
      color: #fff !important; }
    .main_header > ul .logo {
      background-color: #009688 !important; }
      .main_header > ul .logo a:hover {
        background-color: #c2c1c1 !important;
        color: black; }
  .main_header a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff; }
    .main_header a:hover {
      background-color: #fff;
      color: black; }
  @media (max-width: 768px) {
    .main_header ul > li:not(:first-of-type) {
      display: none; } }
  .main_header .another_style {
    color: #fff; }
    .main_header .another_style:hover {
      background-color: #009688 !important; }

.dropbtn {
  background-color: black;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: none; }
  .dropbtn:hover {
    background-color: #c2c1c1 !important;
    color: black; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover {
    background-color: #c2c1c1 !important;
    color: black; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: black; }

.header_img_section {
  position: relative;
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  height: 400px;
  background-image: url("../assets/img_header/sailboat.jpg"); }
  .header_img_section button {
    background-color: black;
    color: #fff;
    position: absolute;
    font-size: 24px !important;
    bottom: 0;
    padding: 10px 16px;
    margin: 20px;
    border: none;
    cursor: pointer; }
    .header_img_section button:hover {
      background-color: #009688 !important; }

.team-section {
  text-align: center;
  padding-top: 64px !important;
  padding-bottom: 64px !important; }
  .team-section .team-container {
    padding-bottom: 30px; }
    .team-section .team-container h2 {
      font-family: "Segoe UI", Arial, sans-serif;
      font-weight: 400;
      padding-bottom: 20px;
      font-size: 30px; }
    .team-section .team-container span {
      font-size: 18px; }

.container_team {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding-top: 30px; }
  .container_team div {
    height: 315px;
    padding-bottom: 10px; }
    .container_team div h2 {
      font-family: "Segoe UI", Arial, sans-serif;
      padding: 20px;
      font-size: 24px !important;
      font-weight: 400 !important; }
    .container_team div .avatar_style {
      border-radius: 50%;
      width: 170px;
      height: 170px; }
    .container_team div span {
      padding: 20px;
      padding: 10px; }

@media (max-width: 771px) {
  .container_team {
    grid-template-columns: 1fr 1fr; }
    .container_team div {
      padding: 10px; } }

@media (max-width: 771px) and (max-width: 600px) {
  .container_team {
    grid-template-columns: 1fr; }
    .container_team div {
      padding: 10px; } }

.work_section {
  padding: 60px 30px;
  background-color: #333333 !important; }

.work_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw; }
  .work_container .text_container {
    color: #fff; }
  .work_container .container_img {
    background-color: #fff;
    height: auto;
    padding-bottom: 10px; }
    .work_container .container_img h2 {
      font-family: "Segoe UI", Arial, sans-serif;
      padding: 20px;
      font-size: 24px !important;
      font-weight: 400 !important; }
    .work_container .container_img img {
      width: 100%; }
    .work_container .container_img ul {
      list-style: none; }
      .work_container .container_img ul li {
        padding: 10px; }

@media (max-width: 1130px) {
  .work_container {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 1130px) and (max-width: 930px) {
  .work_container {
    grid-template-columns: 1fr; } }

.pricing_section {
  padding: 60px 30px;
  background-color: #fff; }

.pricing_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw; }
  .pricing_container div:hover {
    box-shadow: 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19); }
  .pricing_container .container {
    background-color: #fff;
    height: auto;
    padding-bottom: 10px; }
    .pricing_container .container h2 {
      font-family: "Segoe UI", Arial, sans-serif;
      padding: 20px;
      font-size: 24px !important;
      font-weight: 400 !important; }
    .pricing_container .container ul {
      border: 1px solid #ccc !important;
      list-style: none; }
      .pricing_container .container ul li:first-child {
        padding: 10px;
        background-color: black;
        color: #fff; }
      .pricing_container .container ul li {
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 15px; }
  .pricing_container .second_container {
    background-color: #fff;
    height: auto;
    padding-bottom: 10px; }
    .pricing_container .second_container h2 {
      font-family: "Segoe UI", Arial, sans-serif;
      padding: 20px;
      font-size: 24px !important;
      font-weight: 400 !important; }
    .pricing_container .second_container ul {
      border: 1px solid #ccc !important;
      list-style: none; }
      .pricing_container .second_container ul li:first-child {
        padding: 10px;
        color: #fff !important;
        background-color: #666666 !important; }
      .pricing_container .second_container ul li {
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 15px; }
  .pricing_container .pric_li {
    font-size: 30px; }
    .pricing_container .pric_li p {
      font-size: 15px;
      opacity: 0.6; }
  .pricing_container .button_li {
    background-color: #f0f0f0 !important; }
    .pricing_container .button_li button {
      font-size: 15px;
      line-height: 1.5;
      cursor: pointer;
      padding: 12px 24px !important;
      border: none;
      color: #fff;
      background-color: #009688 !important; }
      .pricing_container .button_li button:hover {
        background-color: #c2c1c1 !important;
        color: black; }

@media (max-width: 930px) {
  .pricing_container {
    grid-template-columns: 1fr; } }

.contact-form {
  background-color: #f1f1f1 !important; }
  .contact-form div .contact_header h2 {
    border-bottom: 6px solid #ccc !important;
    border-color: #009688 !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    display: inline-block;
    padding-bottom: 20px; }
  .contact-form div .contact_header h3 {
    padding-bottom: 20px; }
  .contact-form div .contact_header p {
    font-family: "Raleway", sans-serif;
    font-size: 18px !important;
    padding-bottom: 20px; }

.contact_container {
  font-size: 20px !important; }
  .contact_container span {
    display: block;
    padding-bottom: 20px; }
  .contact_container i {
    color: #009688 !important;
    font-size: 25px; }

.containers {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 30px; }
  .containers .form {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative; }
    .containers .form div {
      position: absolute;
      bottom: 0;
      justify-content: space-between;
      width: 100%;
      display: flex;
      padding: 11px 22px 10px 2px; }
    .containers .form .form-input {
      margin-bottom: 20px;
      padding: 8px 16px;
      font-size: 16px; }
    .containers .form .form-checkbox {
      width: 24px;
      height: 24px; }
    .containers .form .form-button {
      display: inline-block;
      font-size: 16px;
      border: 0;
      padding: 8px 14px;
      background-color: black;
      color: #fff; }
      .containers .form .form-button:hover {
        background-color: #b6b6b6;
        color: black; }

.map-container {
  margin-top: 30px;
  padding: 0 !important; }
  .map-container img {
    width: 100%;
    height: 800px; }

@media screen and (max-width: 750px) {
  .containers {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 1173px) {
  .map-container {
    text-align: center; }
    .map-container .img_container {
      width: 100%;
      height: 100%;
      padding: 0; } }

.footer {
  background-color: black;
  height: 170px;
  padding: 40px;
  text-align: center;
  color: #fff; }
  .footer h4 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px; }
  .footer .icon_container {
    cursor: pointer;
    padding-top: 20px;
    font-size: 18px !important; }
    .footer .icon_container #icon_style {
      padding: 8px 16px;
      color: #fff !important;
      background-color: #009688 !important;
      color: #fff; }
      .footer .icon_container #icon_style:hover {
        background-color: #bdb6b6;
        color: black; }
  .footer p {
    margin-top: 16px !important;
    margin-bottom: 16px !important; }
    .footer p a {
      color: #fff; }
      .footer p a:hover {
        color: green; }

* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: Verdana,sans-serif; }
