.header_img_section {
    position: relative;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    height: 400px;
    background-image: url("../assets/img_header/sailboat.jpg");
    button {
        background-color: black;
        color: white;
        position: absolute;
        font-size: 24px !important;
        bottom: 0;
        padding: 10px 16px;
        margin: 20px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #009688 !important;
        }
    }
}
